{% extends "admin/layout.html" %}
{% block body %}
<h2>Companies</h2>
<div class="container-fluid d-flex flex-wrap">
    {% for com in all_companies %}
        <div class="card col-3 m-2">
            <div class="card-body">
                <h3 align="center">{{ com.user.name }}</h3>
                <p>Status: {{ com.status }}</p>
                <form method="POST" action="{{ url_for('admin_api.delete_company', company_id=com.company_id) }}">
                    <button class="btn btn-danger btn-sm">Delete</button>
                </form>

                <form method="POST" action="{{ url_for('admin_api.approve_company', company_id=com.company_id) }}">
                    <button class="btn btn-success btn-sm">Approve</button>
                </form>

                <form method="POST" action="{{ url_for('admin_api.reject_company', company_id=com.company_id) }}">
                    <button class="btn btn-warning btn-sm">Reject</button>
                </form>

                <form method="POST" action="{{ url_for('admin_api.blacklist_company', company_id=com.company_id) }}">
                    <button class="btn btn-dark btn-sm">Blacklist</button>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
<h2>Students</h2>
<div class="container-fluid d-flex flex-wrap">
    {% for stu in all_students %}
        <div class="card col-3 m-2">
            <div class="card-body">
                <h3 align="center">{{ stu.user.name }}</h3>
                <p>Status: {{ stu.status }}</p>
                <form method="POST" action="{{ url_for('admin_api.delete_student', student_id=stu.student_id) }}">
                    <button class="btn btn-danger btn-sm">Delete</button>
                </form>

                <form method="POST" action="{{ url_for('admin_api.blacklist_student', student_id=stu.student_id) }}">
                    <button class="btn btn-dark btn-sm">Blacklist</button>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
<h2>Placement drives</h2>
<div class="container-fluid d-flex flex-wrap">
    {% for pla in all_placements %}
        <div class="card col-3 m-2">
            <div class="card-body">
                <h3 align="center">{{ pla.title }}</h3>
                <p>Status: {{ pla.status }}</p>
                <a href="#" class="btn btn-danger">Delete</a>
                <a href="#" class="btn btn-success">Approve</a>
                <a href="#" class="btn btn-warning">Reject</a>
                <a href="#" class="btn btn-dark">Blacklist</a>
            </div>
        </div>
    {% endfor %}
</div>
<h2>Job Applications</h2>
<div class="container-fluid d-flex flex-wrap">
    {% for job in all_jobs %}
        <div class="card col-3 m-2">
            <div class="card-body">
                <h3 align="center">{{ job.title }}</h3>
                <p>Status: {{ job.status }}</p>
                <a href="#" class="btn btn-danger">Delete</a>
                <a href="#" class="btn btn-success">Approve</a>
                <a href="#" class="btn btn-warning">Reject</a>
                <a href="#" class="btn btn-dark">Blacklist</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}