{% extends "layout.html" %}
{% block body %}
<div class="login-form">
    <form action="{{ url_for('auth_api.login') }}" method="post">
      <h3>Login</h3>
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" name="username" placeholder="Enter your username" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Enter your password" required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <a href="/" class="btn btn-primary mt-3">Back</a>
</div>
{% endblock %}
